<div class="row">
    <div class="col-12 text-center">
        <br />
        <fieldset [id] = "getFormattedId"  class="border-top category-header">
            <legend class="w-auto text-center">
                <h6>&nbsp;&nbsp;{{category}}&nbsp;&nbsp;</h6>
            </legend>
        </fieldset>
    </div>
</div>
<ng-container  *ngIf="items?.length > 0; else noItems">
    <div class="row">
        <div class="col-6" *ngFor="let item of items; let i=index">
            <div class="item-card-container">
                <div class="item-card-product-image-name">
                    <span class="item-card-product-count" *ngIf="item.quantity > 0">
                        <span class="fa fa-check"></span>
                        <span>{{item.quantity}}</span>
                    </span>
                    <div class="item-card-product-image-container text-center">
                        <img [src]="item.imgLink" class="item-card-product-image" />
                    </div>
                    <div class="item-card-product-name">{{item.productName}}</div>
                </div>
                <div class="item-card-product-description">{{item.description}}</div>
                <hr />
                <div class="item-card-product-price text-center"> <b>{{item.price}} $</b> </div>
                <div class="product-action-button-container">
                    <span class="fa fa-2x fa-minus-circle" (click)="removeOne(i)"></span>
                    <span class="fa fa-2x fa-plus-circle" (click)="addOne(i)"></span>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #noItems>
    <div class="row">
        <div class="col-12 text-center text-secondary">
            <p>No items to show!</p>
        </div>
    </div>
</ng-template>